@page "/makes/"
@inject HttpClient _client
@inject IJSRuntime _js
@attribute [Authorize]

<HeadingComponent Text="Makes" />

<a href="/makes/create" class="btn btn-secondary m-3">
	<span class="oi oi-plus"></span>
	Add New
</a>


@if(Model == null)
{
	<div class="alert alert-info">Loading...</div>
}
else
{
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>
					<a href="/makes/view/@item.Id" class="btn btn-primary">
						 <span class="oi oi-book"></span>
					 </a>
					<a href="/makes/edit/@item.Id" class="btn btn-warning">
						 <span class="oi oi-pencil"></span>
					 </a>
					<button class="btn btn-danger" @onclick="@(()=>Delete(item.Id))">
						  <span class="oi oi-delete"></span>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
}

@code {
	private List<Make> Model;

	protected async override Task OnInitializedAsync()
	{
		Model = await _client.GetFromJsonAsync<List<Make>>($"{Endpoints.MakesEndpoint}");
	}

	private async Task Delete(int id)
	{
		var make = Model.FirstOrDefault(q => q.Id == id);

		var confirm = await _js.InvokeAsync<bool>("confirm", $"Do you want to delete { make.Name }?");
		if(confirm)
		{
			await _client.DeleteAsync($"{Endpoints.MakesEndpoint}/{id}");
			await OnInitializedAsync();
		}
	}
}
