@page "/colours/"
@attribute [Authorize]

<HeadingComponent Text="Colours" />

<a href="/colours/create" class="btn btn-secondary m-3">
	<span class="oi oi-plus"></span>
	Add New
</a>

@if(Model == null)
{
	<div class="alert alert-info">Loading...</div>
}
else
{
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>
					<a href="/colours/view/@item.Id" class="btn btn-primary">
						 <span class="oi oi-book"></span>
					 </a>
					<a href="/colours/edit/@item.Id" class="btn btn-warning">
						 <span class="oi oi-pencil"></span>
					 </a>
					<button class="btn btn-danger" @onclick="@(()=>Delete(item.Id))">
						  <span class="oi oi-delete"></span>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
}

@code {

}
