@page "/customers/"
@inject HttpClient _client
@inject IJSRuntime _js
@attribute [Authorize]

<h3 class="card-title">Customers</h3>
<hr />
<br />

@if(Model == null)
{
	<div class="alert alert-info">Loading...</div>
}
else
{
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Tax ID</th>
			<th>Contact Number</th>
			<th>Email Address</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.TaxId</td>
				<td>@item.ContactNumber</td>
				<td>@item.EmailAdress</td>
				<td>
					<a href="/customers/view/@item.Id" class="btn btn-primary">
						 <span class="oi oi-book"></span>
					 </a>
					<a href="/customers/edit/@item.Id" class="btn btn-warning">
						 <span class="oi oi-pencil"></span>
					 </a>
					<button class="btn btn-danger" @onclick="@(()=>Delete(item.Id))">
						  <span class="oi oi-delete"></span>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
}

@code {
	private List<Customer> Model;

	protected async override Task OnInitializedAsync()
	{
		Model = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
	}

	private async Task Delete(int id)
	{
		var model = Model.FirstOrDefault(q => q.Id == id);

		var confirm = await _js.InvokeAsync<bool>("confirm", $"Do you want to delete { model.EmailAdress }?");
		if(confirm)
		{
			await _client.DeleteAsync($"{Endpoints.CustomersEndpoint}/{id}");
			await OnInitializedAsync();
		}
	}
}
